.middle-block {
    background: radial-gradient(circle at 30% 0%, #33333b, #000000);
    color: #cbcccf;
    font-size: 1.6em;
    display: grid;
    grid-template-columns: 6fr 5fr;
    padding-top: 20px;
    padding-left: 15px;
}

.middle-block > .main-text {
    margin: 50px;
    display: inline;
}

.middle-block > .main-text > .first-heading {
    font-family: 'Georama', sans-serif;
    font-size: 1.9em;
    padding-bottom: 20px;
    letter-spacing: 1px;
    line-height: 135%;
}

.middle-block > .main-text > .first-heading > .social-dev-env {
    color: white;
    font-weight: bold;
}
.middle-block > .main-text > .first-heading img {
    width: 50px;
}


.middle-block > .main-text > .second-heading {
    font-family: "Georama", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 1px;
    line-height: 150%;
    margin-bottom: 40px;
    padding-right: 10px;
}

.middle-block > .main-text > .buttons {
    display: flex;
}

.middle-block > .main-text > .buttons > .green-button,  .middle-block > .main-text > .buttons > .black-button{
    width: fit-content;
    padding: 20px 30px;
    font-family: 'Georama', sans-serif;
    font-weight: bold;
    border-radius: 2px;
    margin-right: 20px;
    font-size: 1.8em;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2) inset;
    text-shadow: 0.1px -0.1px, -0.1px -0.1px;
    text-align: center;
    letter-spacing: 1px;
}

.middle-block > .main-text > .buttons > .green-button {
    background-color: #4bce79;
    color: black;
}


.middle-block > .main-text > .buttons > .black-button {
    background-color: black;
    color: white;
}

/*image-corner*/
.middle-block > .image-corner {
    margin-left: 30px;
}

.middle-block > .image-corner > .heading {
    font-weight: bold;
    font-family: 'Georama', sans-serif;
    color: white;
    margin-top: 40px;
    margin-left: 25px;
    margin-bottom: 5px;
    font-size: 1em;
}

.middle-block > .image-corner > .heading > .blue {
    color: #80e1ff
}

.middle-block > .image-corner > .main-image {
    display: flex;
    justify-content: flex-end;
}

.middle-block > .image-corner > .main-image img {
    width: 100%;
    box-shadow: -10px 7px 35px -8px rgba(0,0,0,0.5);
    margin-bottom: 10px;
}