.upper-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 15px 18px 35px;
}

.upper-block > .logo img {
    height: 45px;
}

/*nav-bar*/
.upper-block > .nav-bar > .explore{
    color: rgb(251, 230, 113);    
    font-weight: 600;
    font-size: 0.8em;
}

.upper-block > .nav-bar {
    font-size: 29px;
    width: 35%;
    padding-right: 135px;
}

.upper-block > .nav-bar > .nav-bar-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "Hind", sans-serif;
}

.upper-block > .nav-bar > .nav-bar-content i {
    font-weight: bolder;
    font-family: 'Hind', sans-serif;
    font-style: normal;
}

.upper-block > .nav-bar > .nav-bar-content > .spark {
    display: flex;
    opacity: 0.70;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
}
.upper-block > .nav-bar > .nav-bar-content > .spark i {
    margin-left: 10px;
}

/*right block*/
.upper-right {
    width: 35%;
}

.upper-right > .upper-right-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 900;
    font-size: 25px;
}

.upper-right > .upper-right-wrapper > .create, .upper-right > .upper-right-wrapper > .log-in, .upper-right > .upper-right-wrapper > .sign-up {
    background-color: rgb(73 73 73 / 58%);
    border-radius: 3px;
    height: 10px;
    padding: 35px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.upper-right > .upper-right-wrapper > .create i{
    color: rgb(117, 225, 117);
    margin-left: 5px;
}

.upper-right > .upper-right-wrapper > .image {
    font-weight: 600;
    font-size: 1.9em;
    opacity: 0.5;
    padding: 0px 10px;
}